@import "compass_twitter_bootstrap";
@import "compass_twitter_bootstrap_responsive";


.hero-unit{
	color:#fff;
	background:$grayDark;	
}

.height{
	color:lighten($red, 10%);
}

.period{
	color:$orange;
}

.wind-speed{
	color:lighten($yellow, 10%);
}

.wind-direction{
	color:$purple;
}

@media (min-width: 1200px) {
	.hero-unit h1{
		font-size:80px;
	}
}

@media (max-width: 480px) {
	.hero-unit h1{
		font-size:40px;
	}
}